# What percent of passengers had a family member on board

Question: What percent of passengers had a family member(s) on the Titanic?
This analysis is an observational study, not an experimental study. I'm taking the data from the data set and analyzing how many passengers had a family member on the titanic to figure out what percent of passengers had a family member on the Titanic.By adding spouse and siblings together, these two values together for each passenger, I calculated the total number of immediate family members a person had on board. I created a new derived column to represent this.This tells us more than just a number. It helps us understand what it might have been like for the people on the ship. Many passengers weren’t alone and they were with siblings, parents, children, or their spouse. That means the tragedy didn’t just affect individuals, it affected entire families.

Also, knowing who had family could help explain other patterns in the data, like who survived. For example, maybe people with family helped each other, or maybe they stayed behind to help loved ones. The sampling method I used for my data is the census sampling. I took the entire population to find out the percentage of family members on board. Since the dataset includes everyone who was on the Titanic (or as many as were recorded), I didn’t have to choose a smaller sample. This way, the results represent the whole group of passengers, not just a part of them.

A possible bias could be the fact that the data set didn't include the entire population, meaning some records got lost, etc. The dataset also only counts siblings, spouses, parents, and children. Other family members like cousins, aunts, uncles, who might have been traveling together are not included. This means some family groups might be undercounted.

df.info()

In [1]:
import pandas as pd

df = pd.read_csv("titanic.csv", encoding='utf-8')
df = pd.read_csv("titanic.csv", header=None)
df.head(893)

,0,1,2,3,4,5,6,7,8,9,10,11
0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,NaN,S
2,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,NaN,S
4,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,NaN,S
888,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
889,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
891,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,NaN,Q

In [3]:
import pandas as pd

# Load dataset
df = pd.read_csv("titanic.csv")

# Define "family member" as having at least 1 sibling/spouse (SibSp) or parent/child (Parch)
df["Has_Family"] = (df["SibSp"] + df["Parch"]) > 0

# Calculate percentage of passengers with family onboard
percent_with_family = df["Has_Family"].mean() *100
percent_with_family = df["Has_Family"].mean() * 100
print(f"The answer is {percent_with_family:.2f}%. This means that {percent_with_family:.2f}% of passengers on the Titanic had at least one family member (a sibling, spouse, parent, or child) traveling with them.")

The answer is 39.73%. This means that 39.73% of passengers on the Titanic had at least one family member (a sibling, spouse, parent, or child) traveling with them.